# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
.venv/
venv/

# PyTorch models
*.pt
*.pth
*.ckpt

# training outputs
runs/
logs/
checkpoints/
data/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# temp
*.tmp
*.temp